*{
  border: 0;
  padding: 0;
  margin: 0;
}

body{
  background: #282c3b;
  font-family: 'Lato', sans-serif;
}

header{
  background: #1d202b;
  padding: 20px;
  text-align: center;
}

header a{
  color: white;
  text-decoration: none;
  margin: 12px;
}

header a:hover{
  color: #19d14e;
}

main{
  padding: 40px;
  color: white;
}

main img{
  display: flex;
  border-radius: 50%;
  max-width: 220px;
  border: 2px solid #19d14e;
  margin: auto;
}

main #texts{
  max-width: 350px;
  text-align: center;
  margin: auto;
  padding: 30px;
  line-height: 32px;
}

main #texts h4{
  font-weight: lighter;
}

main #texts p{
  line-height: 25px;;
  margin-top: 14px;
}

  footer{
    padding: 20px;
    text-align: center;
  }
  footer a{ 
    padding: 12px;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  footer a:hover{
    color: #19d14e;
    text-decoration: underline;
  }





